/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    display: flex;
    /* align-items: center; */
    font-family: 'Inter', sans-serif;


    /* ## Colors */

    /* ### Primary */

    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);

    background-image: url(/images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
}


.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.slides-container {
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slides-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
/* WebKit */
.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.testimony {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 23rem;
}

.image-container .bg-shape {
    position: absolute;
    width: 90%;
    z-index: -1;
    bottom: 8px;
}

.image-container .bg-shape > img {
    height: 22rem;
}

.image-container > img{
    width: 75%;
    border-radius: 5px;
    height: 288px;
}

.navigation-arrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    transform: translateY(-50%);
    background-color: white;
    width: 5rem;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navigation-arrows .arrow {
    width: 50%;
    padding: .8rem .5rem;
}

.navigation-arrows .arrow img {
    width: 38%;
    margin: 0 auto;
}

.text-container {
    margin-top: 2rem;
    text-align: center;
    position: relative;
}

.text-container .quotes {
    background-image: url(/images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 4.5rem 3rem;
    height: 4rem;
    position: absolute;
    width: 100%;
    top: -20px;
}

.text-container .text {
    color: var(--dark-blue);
    font-size: 1rem;
    margin-bottom: 1rem;
}

.text-container .name {
    font-size: 1rem;
}

.text-container .job {
    color: var(--grayish-blue);
    font-size: 0.8rem;
}


@media screen and (min-width: 768px) {

    main {
        margin-inline: auto;
        display: flex;
        align-items: center;
    }

    .slider-wrapper {
        max-width: 1200px;
    }

    .slides-container {
        height: 26rem;
    }

    .testimony {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .testimony .image-container {
        order: 1;
    }

    .testimony .image-container .text-container {
        width: 50%;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        max-width: 80%;
        margin-left: auto;
        margin-right: -7%;
    }

    .text-container .text {
        font-size: 1.5rem;
    }

    .image-container {
        justify-content: flex-start;
    }

    .image-container > img{
        height: 450px;
    }
}